### Deliverable 3: Optimize the Model

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
application_df = application_df.drop(["EIN","NAME","ASK_AMT"], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,1

In [3]:
# Determine the number of unique values in each column.
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_df[application_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [4]:
application_counts = application_df.APPLICATION_TYPE.value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Determine which values to replace if counts are less than ...?
replace_application = list(application_counts[application_counts < 600].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [6]:
use_case_counts = application_df.USE_CASE.value_counts()
use_case_counts

Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Other                3
Name: USE_CASE, dtype: int64

In [7]:
classification_counts = application_df.CLASSIFICATION.value_counts()

replace_class = list(classification_counts[classification_counts < 1800].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [8]:
replace_use_case = list(use_case_counts[use_case_counts < 300].index)

# Replace in dataframe
for ucc in replace_use_case:
    application_df.USE_CASE = application_df.USE_CASE.replace(ucc,"Other")
    
# Check to make sure binning was successful
application_df.USE_CASE.value_counts()

Preservation     28095
ProductDev        5671
CommunityServ      384
Other              149
Name: USE_CASE, dtype: int64

In [9]:
application_encoded_df = pd.get_dummies(application_df, columns = ["IS_SUCCESSFUL"])
application_df = application_encoded_df.rename(columns={"IS_SUCCESSFUL_0":"NOT_SUCCESSFUL", "IS_SUCCESSFUL_1":"IS_SUCCESSFUL"},  errors="raise")
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,NOT_SUCCESSFUL,IS_SUCCESSFUL
0,Other,Independent,C1000,ProductDev,Association,1,0,N,0,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,0,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,1,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,0,1
4,T3,Independent,C1000,Other,Trust,1,100000-499999,N,0,1

In [10]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

In [11]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

,STATUS,NOT_SUCCESSFUL,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,0,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,1,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,0,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,0,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
# Split our preprocessed data into our features and target arrays
y = application_df.IS_SUCCESSFUL
X = application_df.drop(columns=["IS_SUCCESSFUL","NOT_SUCCESSFUL"])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [15]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  90
hidden_nodes_layer2 = 35
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()


nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="tanh"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Create a callback that saves the model's weights every 5 epochs.
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=100)

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/100
804/804 [==============================] - 1s 895us/step - loss: 1.5365 - accuracy: 0.6612
Epoch 2/100
804/804 [==============================] - 1s 943us/step - loss: 0.5727 - accuracy: 0.7239
Epoch 3/100
804/804 [==============================] - 1s 911us/step - loss: 0.5682 - accuracy: 0.7290
Epoch 4/100
804/804 [==============================] - 1s 954us/step - loss: 0.5679 - accuracy: 0.7254
Epoch 5/100
804/804 [==============================] - 1s 918us/step - loss: 0.5582 - accuracy: 0.7333
Epoch 6/100
804/804 [==============================] - 1s 925us/step - loss: 0.5570 - accuracy: 0.7323
Epoch 7/100
804/804 [==============================] - 1s 938us/step - loss: 0.5510 - accuracy: 0.7348
Epoch 8/100
804/804 [==============================] - 1s 910us/step - loss: 0.5536 - accuracy: 0.7343
Epoch 9/100
804/804 [==============================] - 1s 785us/step - loss: 0.5531 - accuracy: 0.7291
Epoch 10/100
804/804 [==============================] - 1s 940us/step - loss: 0.5528 - accuracy: 0.7276
Epoch 11/100
804/804 [==============================] - 1s 899us/step - loss: 0.5525 - accuracy: 0.7301
Epoch 12/100
804/804 [==============================] - 1s 855us/step - loss: 0.5410 - accuracy: 0.7403
Epoch 13/100
804/804 [==============================] - 1s 985us/step - loss: 0.5495 - accuracy: 0.7322
Epoch 14/100
804/804 [==============================] - 1s 867us/step - loss: 0.5476 - accuracy: 0.7339
Epoch 15/100
804/804 [==============================] - 1s 918us/step - loss: 0.5512 - accuracy: 0.7344
Epoch 16/100
804/804 [==============================] - 1s 951us/step - loss: 0.5520 - accuracy: 0.7370
Epoch 17/100
804/804 [==============================] - 1s 923us/step - loss: 0.5542 - accuracy: 0.7333
Epoch 18/100
804/804 [==============================] - 1s 948us/step - loss: 0.5426 - accuracy: 0.7399
Epoch 19/100
804/804 [==============================] - 1s 860us/step - loss: 0.5559 - accuracy: 0.7338
Epoch 20/100
804/804 [==============================] - 1s 802us/step - loss: 0.5524 - accuracy: 0.7303
Epoch 21/100
804/804 [==============================] - 1s 817us/step - loss: 0.5450 - accuracy: 0.7421
Epoch 22/100
804/804 [==============================] - 1s 835us/step - loss: 0.5500 - accuracy: 0.73420s - loss: 0.5494 - accura
Epoch 23/100
804/804 [==============================] - 1s 778us/step - loss: 0.5542 - accuracy: 0.7345
Epoch 24/100
804/804 [==============================] - 1s 851us/step - loss: 0.5475 - accuracy: 0.7401
Epoch 25/100
804/804 [==============================] - 1s 926us/step - loss: 0.5540 - accuracy: 0.7310
Epoch 26/100
804/804 [==============================] - 1s 866us/step - loss: 0.5485 - accuracy: 0.7371
Epoch 27/100
804/804 [==============================] - 1s 897us/step - loss: 0.5523 - accuracy: 0.7341
Epoch 28/100
804/804 [==============================] - 1s 793us/step - loss: 0.5516 - accuracy: 0.7333
Epoch 29/100
804/804 [==============================] - 1s 819us/step - loss: 0.5437 - accuracy: 0.7415
Epoch 30/100
804/804 [==============================] - 1s 863us/step - loss: 0.5487 - accuracy: 0.7359
Epoch 31/100
804/804 [==============================] - 1s 821us/step - loss: 0.5470 - accuracy: 0.7361
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5499 - accuracy: 0.7338
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5558 - accuracy: 0.7316
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5562 - accuracy: 0.7328
Epoch 35/100
804/804 [==============================] - 1s 930us/step - loss: 0.5523 - accuracy: 0.7346
Epoch 36/100
804/804 [==============================] - 1s 960us/step - loss: 0.5464 - accuracy: 0.7355
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7411
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7341
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7373
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7353
Epoch 41/100
804/804 [==============================] - 1s 850us/step - loss: 0.5406 - accuracy: 0.7426
Epoch 42/100
804/804 [==============================] - 1s 903us/step - loss: 0.5353 - accuracy: 0.7485
Epoch 43/100
804/804 [==============================] - 1s 861us/step - loss: 0.5711 - accuracy: 0.7370
Epoch 44/100
804/804 [==============================] - 1s 861us/step - loss: 0.5605 - accuracy: 0.7337
Epoch 45/100
804/804 [==============================] - 1s 867us/step - loss: 0.5473 - accuracy: 0.7419
Epoch 46/100
804/804 [==============================] - 1s 850us/step - loss: 0.5639 - accuracy: 0.7403
Epoch 47/100
804/804 [==============================] - 1s 852us/step - loss: 0.5671 - accuracy: 0.7340
Epoch 48/100
804/804 [==============================] - 1s 838us/step - loss: 0.5595 - accuracy: 0.7369
Epoch 49/100
804/804 [==============================] - 1s 810us/step - loss: 0.5629 - accuracy: 0.7399
Epoch 50/100
804/804 [==============================] - 1s 827us/step - loss: 0.5549 - accuracy: 0.7403
Epoch 51/100
804/804 [==============================] - 1s 798us/step - loss: 0.5435 - accuracy: 0.7390
Epoch 52/100
804/804 [==============================] - 1s 845us/step - loss: 0.5437 - accuracy: 0.7378
Epoch 53/100
804/804 [==============================] - 1s 920us/step - loss: 0.5482 - accuracy: 0.7382
Epoch 54/100
804/804 [==============================] - 1s 908us/step - loss: 0.5540 - accuracy: 0.7358
Epoch 55/100
804/804 [==============================] - 1s 951us/step - loss: 0.5467 - accuracy: 0.7382
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5501 - accuracy: 0.7342
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5511 - accuracy: 0.7389
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5516 - accuracy: 0.7374: 0s - loss: 0.5517 - accuracy: 0.
Epoch 59/100
804/804 [==============================] - 1s 858us/step - loss: 0.5487 - accuracy: 0.7352
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7405
Epoch 61/100
804/804 [==============================] - 1s 908us/step - loss: 0.5470 - accuracy: 0.7395
Epoch 62/100
804/804 [==============================] - 1s 832us/step - loss: 0.5454 - accuracy: 0.7373
Epoch 63/100
804/804 [==============================] - 1s 865us/step - loss: 0.5500 - accuracy: 0.7346
Epoch 64/100
804/804 [==============================] - 1s 784us/step - loss: 0.5594 - accuracy: 0.7339
Epoch 65/100
804/804 [==============================] - 1s 845us/step - loss: 0.5563 - accuracy: 0.7337
Epoch 66/100
804/804 [==============================] - 1s 788us/step - loss: 0.5535 - accuracy: 0.7330
Epoch 67/100
804/804 [==============================] - 1s 838us/step - loss: 0.5453 - accuracy: 0.7406
Epoch 68/100
804/804 [==============================] - 1s 817us/step - loss: 0.5489 - accuracy: 0.7391
Epoch 69/100
804/804 [==============================] - 1s 858us/step - loss: 0.5476 - accuracy: 0.7350
Epoch 70/100
804/804 [==============================] - 1s 860us/step - loss: 0.5556 - accuracy: 0.7400
Epoch 71/100
804/804 [==============================] - 1s 807us/step - loss: 0.5461 - accuracy: 0.7399
Epoch 72/100
804/804 [==============================] - 1s 887us/step - loss: 0.5397 - accuracy: 0.7405
Epoch 73/100
804/804 [==============================] - 1s 877us/step - loss: 0.5434 - accuracy: 0.7403
Epoch 74/100
804/804 [==============================] - 1s 833us/step - loss: 0.5440 - accuracy: 0.7406
Epoch 75/100
804/804 [==============================] - 1s 801us/step - loss: 0.5500 - accuracy: 0.7367
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5490 - accuracy: 0.7380
Epoch 77/100
804/804 [==============================] - 1s 993us/step - loss: 0.5449 - accuracy: 0.7378
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5489 - accuracy: 0.7376
Epoch 79/100

804/804 [==============================] - 1s 855us/step - loss: 0.5490 - accuracy: 0.7445
Epoch 80/100
804/804 [==============================] - 1s 833us/step - loss: 0.5525 - accuracy: 0.7366
Epoch 81/100
804/804 [==============================] - 1s 769us/step - loss: 0.5507 - accuracy: 0.7400
Epoch 82/100
804/804 [==============================] - 1s 642us/step - loss: 0.5450 - accuracy: 0.7390
Epoch 83/100
804/804 [==============================] - 1s 642us/step - loss: 0.5427 - accuracy: 0.7428
Epoch 84/100
804/804 [==============================] - 1s 667us/step - loss: 0.5445 - accuracy: 0.7424
Epoch 85/100
804/804 [==============================] - 1s 652us/step - loss: 0.5485 - accuracy: 0.7422
Epoch 86/100
804/804 [==============================] - 1s 662us/step - loss: 0.5444 - accuracy: 0.7412
Epoch 87/100
804/804 [==============================] - 1s 713us/step - loss: 0.5447 - accuracy: 0.7401
Epoch 88/100
804/804 [==============================] - 1s 712us/step - loss: 0.5449 - accuracy: 0.7421
Epoch 89/100
804/804 [==============================] - 1s 728us/step - loss: 0.5501 - accuracy: 0.7373
Epoch 90/100
804/804 [==============================] - 1s 902us/step - loss: 0.5407 - accuracy: 0.7416
Epoch 91/100
804/804 [==============================] - 1s 728us/step - loss: 0.5424 - accuracy: 0.7385
Epoch 92/100
804/804 [==============================] - 1s 909us/step - loss: 0.5392 - accuracy: 0.7396
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5497 - accuracy: 0.7353
Epoch 94/100
804/804 [==============================] - 1s 717us/step - loss: 0.5483 - accuracy: 0.7392
Epoch 95/100
804/804 [==============================] - 1s 786us/step - loss: 0.5493 - accuracy: 0.7408
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5540 - accuracy: 0.7425
Epoch 97/100
804/804 [==============================] - 1s 790us/step - loss: 0.5550 - accuracy: 0.7361
Epoch 98/100
804/804 [==============================] - 1s 759us/step - loss: 0.5516 - accuracy: 0.7391
Epoch 99/100
804/804 [==============================] - 1s 773us/step - loss: 0.5469 - accuracy: 0.7409
Epoch 100/100
804/804 [==============================] - 1s 889us/step - loss: 0.5515 - accuracy: 0.7420
268/268 - 0s - loss: 0.5750 - accuracy: 0.7247
Loss: 0.5750045776367188, Accuracy: 0.7246647477149963

In [16]:
#Save and export your results to an HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5750 - accuracy: 0.7247
Loss: 0.5750045776367188, Accuracy: 0.7246647477149963